html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

ul {
  list-style-type: disclosure-closed;
  margin-left: 50px;
}
body {
    font-family: sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    line-height: 27px;
    color: #0c0b0b;
    background-color: rgb(94, 91, 91);
}
 .wrapper {
     max-width: 1200px;
     margin: 40px auto;
     padding: 10px;
    background:rgb(211, 204, 204);
    border-radius: 4px;
    
     
   }
   .header_photo {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    margin: 50px;   
   }
   .name {
    font-size: 28px;
    font-style: italic;
    font-weight: 600;
    padding: 50px;
   }
   .job {
    font-size: 20px;
    font-style: italic;
    padding-left: 50px;
   }
   .photo {
    border-radius: 50px;
   }
   .contacts {
       margin-bottom: 40px;
      padding: 0 10px;
      
   }
   
   .contacts_info {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center; 
    }
    .contacts_item {
      text-decoration: none;
      color:rgb(44, 41, 41);
    }
    .my-email {
      font-size: 16px;
    }
  
    .wrapper_info {
      display: flex;
      justify-content: space-around;
      gap: 40px;
      
    }
    .info_left {
      width: 30%;
    }
    .info_right {
      width: 70%;
    }
    
    .section-title {
      text-transform: uppercase;
      border-bottom: 2px double grey;
      /* width: 90px; */
      font-weight: 600;
      margin-bottom: 15px;
    }

   .summary, .experience, .education {
       margin-bottom: 40px;;
   }
   
   .skills {
       margin-bottom: 10px;
   }

   .efset-logo {
     display: inline-block;
     width: 85px;
     height: 20px;
     background-image: url("./efset-logo.png");
   }
   .footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
   .footer>a {
    text-decoration: none;
    color:rgb(44, 41, 41);
   }